<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Change Password</title>
  </head>
  <body>
    <div class="login-holder" style="padding: 1%">
      <h1>Change Password</h1>

      <br />
      <%if (wrongCurrentPassword === true){%>
      <div class="red">
        <p>Current password incorrect, please try again!</p>
      </div>
      <br />
      <%}%> <%if (differentPasswords === true){%>
      <div class="red">
        <p>New passwords did not match, please try again!</p>
      </div>
      <br />
      <%}%> <%if (success === true){%>
      <div class="green">
        <p>Password changed successfully!</p>
      </div>
      <br />
      <%}%>

      <form
        action="/editPassword"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="form-outline mb-4">
          <input
            type="password"
            id="form2Example1"
            class="form-control"
            name="currentPassword"
            required
          />
          <label class="form-label" for="form2Example2">Current Password</label>
          <div class="invalid-feedback">
            Cannot proceed without the current password!
          </div>
        </div>
        <br />

        <div class="form-outline mb-4">
          <input
            type="password"
            id="form2Example2"
            class="form-control"
            name="newPassword"
            required
          />
          <label class="form-label" for="form2Example2">New Password</label>
          <div class="invalid-feedback">
            Cannot proceed without a new password!
          </div>
        </div>
        <br />

        <div class="form-outline mb-4">
          <input
            type="password"
            id="form2Example2"
            class="form-control"
            name="verifyNewPassword"
            required
          />
          <label class="form-label" for="form2Example2"
            >Confirm New Password</label
          >
          <div class="invalid-feedback">
            Please enter the new password again!
          </div>
        </div>
        <br />
        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4">
          Change Password
        </button>

        <a href="/"
          ><button type="button" class="btn btn-light btn-block mb-4">
            Back
          </button></a
        >
      </form>
    </div>
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script>
      window.addEventListener("load", function () {
        let inputs = document.querySelectorAll("input");
        inputs.forEach((input) => {
          input.value = "";
        });
      });
    </script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
