<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="main">
      <h1>Register Page</h1>
      <form action="/register" method="post">
        <label for="firstname">First name</label>
        <input name="firstname" id="firstname" type="string" required />
        <br />
        <br />
        <label for="lastname">Last name</label>
        <input name="lastname" id="lastname" type="string" required />
        <br />
        <br />
        <label for="email">Email</label>
        <input name="email" id="email" type="email" required />
        <br />
        <br />
        <label for="password">Password</label>
        <input name="password" id="password" type="password" required />
        <br />
        <br />
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
